<!DOCTYPE html>
<html lang="en">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        * {
            margin: 0;
            padding: 0;
        }
        ul {
            list-style-type: none;
            padding: 20px;
            display: flex;
        }
        li {
            padding: 0 10px;
            font-family: 'Poppins', sans-serif;
        }
        a {
            text-decoration: none;
        }
        body {
            background-color: beige;
        }
        nav {
            background-color:burlywood;
            position: relative;
            margin: 0 auto;
            padding-top: 0px;
        }
        nav ul li a i{
            padding: 0 5px;
        }
    </style>
    <head>
        <link rel="stylesheet" href="/public/styles/main.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    </head>
    <header>
        <nav>
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="far fa-copy"></i>Today</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/work">
                        <i class="far fa-clone"></i>Work</a>
                </li>
            </ul>
        </nav>
    </header>
</html>